# DataGenRegistration
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets register(Ljava/lang/String;Ljava/util/function/Consumer;)Lnet/minecraft/world/level/storage/loot/parameters/LootContextParamSet;
# MixinRegistryDataLoader
public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public-f net.minecraft.world.level.levelgen.SurfaceRules$Context blockY
public-f net.minecraft.world.level.levelgen.SurfaceRules$Context context
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition
# BlockBreakTrigger
public net.minecraft.advancements.critereon.BlockPredicate matchesState(Lnet/minecraft/world/level/block/state/BlockState;)Z
# ParticleTools
public net.minecraft.server.level.ServerLevel sendParticles(Lnet/minecraft/server/level/ServerPlayer;ZDDDLnet/minecraft/network/protocol/Packet;)Z